*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #201f1f;
}

#window {
  
       display: flex;
       justify-content: center;
         width: 40%;
}


#window .leftpostion{
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    padding: 50%;
    background-color: #01c097;
    background-image: url('signup.jpg') ;
    background-size: cover;
    
    
}

#window .rightpostion{
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #bcf2f9;
    background-image: linear-gradient(to top,#bcf2f9,#6ff8f3,#88b6f2);
    padding: 20% 50% 50% 50%;
}




.rightpostion p{
    width: 200%
}

.rightpostion input{
    border-radius: 5px;
    margin-top: 4px;
    margin-bottom: 10px;
}

.rightpostion button{
    border-radius: 5px;
    margin-top: 5px;
    margin-right: 5px;
    background-color: #0099ff;
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding: 5px;
    cursor: pointer;
}

input:invalid {
    border: 2px dashed rgb(254, 208, 208);
  }
  
  input:valid {
    border: 2px solid black;
  }


  .container
  {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }